@import "react-awesome-button/dist/styles.css";

.aws-btn {
    -button-default-height: 48px;
    -button-default-font-size: 14px;
    -button-default-border-radius: 10px;
    -button-horizontal-padding: 20px;
    -button-raise-level: 6px;
    -button-hover-pressure: 2;
    -transform-speed: .185s;
    -button-primary-color: #ffd9e8;
    -button-primary-color-dark: #7f4a88;
    -button-primary-color-light: #4a266a;
    -button-primary-color-hover: #ffd9e8;
    -button-primary-border: 0px solid #ffe11d;
    -button-secondary-color: #ec1a3f;
    -button-secondary-color-dark: #ffb2b2;
    -button-secondary-color-light: #ffffff;
    -button-secondary-color-hover: #ec1a3f;
    -button-secondary-border: 0px solid transparent;
    -button-anchor-color: #293b83;
    -button-anchor-color-dark: #772250;
    -button-anchor-color-light: #b33377;
    -button-anchor-color-hover: #293b83;
    -button-anchor-border: 1px solid #9f2d6a;
    }